.todo{
  position: relative;
  padding: 2rem 2rem 2rem 2rem;
  border-top: 1px solid $darker-grey;
  border-bottom: 1px solid $darker-grey;
  transition: background 0.3s ease;
  label{
      font-size: 1rem;
      cursor: pointer;
  }
  &:hover{
    background-color: $darker-grey;
  }
}

.todo-controls{
    cursor: pointer;
    float: right;
    font-size: 1.7rem;
    display: inline-block;
    transition: 0.5s;
    &:hover{
      //transform: rotate(-45deg);
      transform: scale(1.2);
    }
}

.remove-todo{
  color:$red-cross;
}

.edit-todo{
  margin-right: 10px;
  color: $green-gear;
}

.todo-date, .message{
  color: $light;
  margin: 0;
}
.message{
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.todo-completed{
  p, label{
    color: $light;
    text-decoration: line-through;
  }
}

.controls-container {
  position: absolute;
  top: 0;
  right: 1rem;
}

.edit-todo-form{
  animation: fadeIn 0.4s ease-out;
}

.custom-margin{
  margin-bottom: 0 !important;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
